	<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset=utf-8>
	<title>行益网-Followed Projects</title>
	<link rel="stylesheet" type="text/css" href="css/general.css">
	<script type="text/javascript" src="js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="js/general.js"></script>
	<script type="text/javascript" src="js/interface.js"></script>
	<script type="text/javascript" src="js/pager.js"></script>
</head>
<body>
	
	<!-- the header, including logo, search input, login and register entries -->
	<header>
		<div class="wrapper" id="header-wrapper">
			<div id="logo">
				<div id="logo-img">
					<img src="img/logo.png">
				</div>
				<div id="logo-name">
					<img src="img/name.png">
				</div>
			</div>
			<!-- the search input, login and register entries -->
			<div id="entry">
				<div id="search">
					<input id="search-box" type="search">
					<img id="search-icon" src="img/search.png" placeholder="搜索..." autocomplete="off">
				</div>
				<label>您好，<a id="user-entry">Sheer</a></label>
				<a id="dashboard-entry">Dashboard</a>
				<a id="logout-entry">登出</a>
			</div>
		</div>
	</header>

	<!-- the container -->
	<div id="content">
		<div class="wrapper" id="view-followedpjs-user-wrapper">
			<section class="container">
				<h1 class="section-title">
					关注项目
				</h1>
				<a class="section-title-more" id="go-back-dashboard">
					Back to DashBoard>
				</a>
				<section class="show">
					<div class="collection">
						{{#each project}}
						<div class="project-wrapper">
							<article>
								<section class="project-image">
									<img src="img/pj{{id}}.png">
								</section>
								<section class="project-info">
									<section class="project-title relative">
										{{name}}
									</section>
									{{#ifEq ratio -1}}
									{{else}}
									<section class="project-progress">
										<span class="project-progress-flag">已完成</span>
										<span class="project-progress-complete">{{ratio}}</span>
										<div class="progress-bar">
											<div class="progress-done"></div>
											<div class="progress-undone"></div>
										</div>
									</section>
									{{/ifEq}}
								</section>
							</article>
							<div class="project-operate">
								<button class="rounded-button light-yellow-button unstar">取消关注</button>
							</div>
						</div>
						{{/each}}
					</div>
					<div class="dispel"></div><!-- This one is used to dispel the effect of float -->
				</section>
				<section class="page_navigation">
					<input type='hidden' class='current_page' />
					<input type='hidden' class='show_per_page' value='8' />
				</section>
				
			</section>
		</div>
	</div>

	<!-- the footer -->
	<footer>
		<div class="wrapper">
			<h1 class="section-title">
				关于我们
			</h1>
			<section id="author-gallery">
				<img src="img/p1.gif">
				<img src="img/p2.gif">
				<img src="img/p3.gif">
				<img src="img/p4.gif">
				<img src="img/p5.gif">
				<img src="img/p6.gif">
				<img src="img/p7.gif">
			</section>
			
			<section id="site-info">
				<ul class="nav">
					<li>
						<h1>A</h1>
						<b>TEL</b>
						<i>188-1736-2313</i>
					</li>
					<li>
						<h1>B</h1>
						<b>MAIL</b>
						<a href="mailto:sheer.linnan@outlook.com"><i>sheer.linnan@outlook.com</i></a>
					</li>
					<li>
						<h1>C</h1>
						<b>&copy;2014</b>
						<i>行益网 版权所有</i>
					</li>
				</ul>
			</section>
		</div>
	</footer>

</body>
</html>